<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>Help Page</title>
    </head>
    <body>
        {{pageName}} is here to help !!!
        {{> footer}}
    </body>
</html>